[Unit]
Description=test user-wide service unit

[Service]
ExecStart=/bin/bash -c 'echo "Hello, from test user-wide systemd unit" | systemd-cat -t user-test-service -p info'

[Install]
WantedBy=default.target
